---
import Layout from '@/layouts/Layout.astro'
---

<Layout
  title="About Me"
  description="Learn more about Jhosep Davila, a web developer with a passion for creating beautiful and functional websites."
>
  <h1>About Page</h1>
</Layout>
