---
import Layout from '@/layouts/Layout.astro'
---

<Layout
  title="Contact Me"
  description="Get in touch with Jhosep Davila, a web developer passionate about creating beautiful and functional websites."
>
  <h1>Contact Page</h1>
</Layout>
