@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: "Open Sans", "sans-serif";
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(98.5% 0 0);
  --foreground: oklch(30% 0.02 260);
  --card: oklch(96% 0.002 260);
  --card-foreground: oklch(30% 0.02 260);
  --popover: oklch(96% 0.002 260);
  --popover-foreground: oklch(30% 0.02 260);
  --primary: oklch(60% 0.15 20);
  --primary-foreground: oklch(98.5% 0 0);
  --secondary: oklch(90% 0.003 260);
  --secondary-foreground: oklch(30% 0.02 260);
  --muted: oklch(92% 0.003 260);
  --muted-foreground: oklch(50% 0.015 260);
  --accent: oklch(96.7% 0.001 286.375);
  --accent-foreground: oklch(98.5% 0 0);
  --destructive: oklch(60% 0.15 20);
  --destructive-foreground: oklch(98.5% 0 0);
  --border: oklch(88% 0.004 260);
  --input: oklch(94% 0.003 260);
  --ring: oklch(65% 0.15 260);
  --chart-1: oklch(65% 0.15 260);
  --chart-2: oklch(65% 0.12 140);
  --chart-3: oklch(60% 0.14 300);
  --chart-4: oklch(70% 0.13 40);
  --chart-5: oklch(60% 0.15 20);
  --sidebar: oklch(96% 0.002 260);
  --sidebar-foreground: oklch(30% 0.02 260);
  --sidebar-primary: oklch(65% 0.15 260);
  --sidebar-primary-foreground: oklch(98.5% 0 0);
  --sidebar-accent: oklch(90% 0.003 260);
  --sidebar-accent-foreground: oklch(30% 0.02 260);
  --sidebar-border: oklch(88% 0.004 260);
  --sidebar-ring: oklch(65% 0.15 260);
}

.dark {
  --background: oklch(14.5% 0.015 260);
  --foreground: oklch(85% 0.01 250);
  --card: oklch(16.5% 0.015 260);
  --card-foreground: oklch(85% 0.01 250);
  --popover: oklch(16.5% 0.015 260);
  --popover-foreground: oklch(90% 0 0);
  --primary: oklch(60% 0.15 20);
  --primary-foreground: oklch(14.5% 0.015 260);
  --secondary: oklch(25% 0.01 260);
  --secondary-foreground: oklch(90% 0 0);
  --muted: oklch(30% 0.01 260);
  --muted-foreground: oklch(70% 0.01 250);
  --accent: oklch(21% 0.006 285.885);
  --accent-foreground: oklch(90% 0 0);
  --destructive: oklch(50% 0.15 20);
  --destructive-foreground: oklch(90% 0 0);
  --border: oklch(38% 0.018 260);
  --input: oklch(25% 0.01 260);
  --ring: oklch(65% 0.15 260);
  --chart-1: oklch(65% 0.15 260);
  --chart-2: oklch(60% 0.12 140);
  --chart-3: oklch(60% 0.14 300);
  --chart-4: oklch(55% 0.13 40);
  --chart-5: oklch(50% 0.15 20);
  --sidebar: oklch(16.5% 0.015 260);
  --sidebar-foreground: oklch(85% 0.01 250);
  --sidebar-primary: oklch(65% 0.15 260);
  --sidebar-primary-foreground: oklch(90% 0 0);
  --sidebar-accent: oklch(30% 0.01 260);
  --sidebar-accent-foreground: oklch(85% 0.01 250);
  --sidebar-border: oklch(38% 0.018 260);
  --sidebar-ring: oklch(65% 0.15 260);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
