section.about {
  @include sectionContainer;
  .about__title {
    h2 {
      @include titleSection;
      @include tablet {
        font-size: 12px;
      }
      @include mobile {
        font-size: 10px;
      }
    }
    p {
      @include paragraphSection;
      @include tablet {
        font-size: 25px;
      }
      @include mobile {
        font-size: 20px;
      }
    }
  }
  .about__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -15px;
    margin-left: -15px;
    @include tablet {
      flex-direction: column;
    }
    @include mobile {
      flex-direction: column;
    }
    .about__image {
      max-width: 33.333333%;
      padding-right: 15px;
      padding-left: 15px;
      img {
        border-radius: 5px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2),
          0 4px 15px 0 rgba(0, 0, 0, 0.19);
      }

      @include tablet {
        max-width: 80%;
      }
      @include mobile {
        max-width: 100%;
      }
    }
    .about__description {
      max-width: 66.666667%;
      padding-right: 15px;
      padding-left: 15px;
      @include tablet {
        max-width: 100%;
        text-align: left;
      }
      @include mobile {
        max-width: 100%;
        text-align: left;
      }
      h3 {
        @include textBold(600, capitalize);
        font-size: 26px;
        margin: 0 0 0.4rem 0;
        @include tablet {
          margin-top: 0.3rem;
          font-size: 20px;
        }
        @include mobile {
          margin-top: 0.3rem;
          font-size: 20px;
        }
      }
      p {
        margin: 0 0 1rem 0;
      }
      .about__data {
        display: flex;
        flex-wrap: wrap;
        @include tablet {
          flex-direction: column;
          align-items: flex-start;
        }
        @include mobile {
          flex-direction: column;
          align-items: flex-start;
        }
        .about__left {
          width: 50%;
          padding-right: 15px;
          padding-left: 15px;
          @include tablet {
            width: 100%;
            padding: 0;
          }
          @include mobile {
            width: 100%;
            padding: 0;
          }
          ul {
            list-style: none;
            padding: 0;
            @include tablet {
              margin: 0;
            }
            @include mobile {
              margin: 0;
            }
            li {
              padding-bottom: 10px;
              p {
                i {
                  font-size: 22px;
                  margin-right: 0.4rem;
                }
              }
              strong {
                margin-right: 0.4rem;
              }
            }
          }
        }
        .about__right {
          width: 50%;
          padding-right: 15px;
          padding-left: 15px;
          @include tablet {
            width: 100%;
            padding: 0;
          }
          @include mobile {
            width: 100%;
            padding: 0;
          }
          ul {
            list-style: none;
            padding: 0;
            @include tablet {
              margin: 0;
            }
            @include mobile {
              margin: 0;
            }
            li {
              padding-bottom: 10px;
              p {
                i {
                  font-size: 22px;
                  margin-right: 0.4rem;
                }
              }
            }
          }
        }
      }
      .about__social {
        .btn {
          @include button;
          @include textBold(bold, uppercase);
          background-color: transparent;
          color: $secondary;
          border: 2px solid $secondary;
          border-radius: 7px;
          font-size: 16px;
          @include tablet {
            width: 100%;
            font-size: 16px;
          }
          @include mobile {
            width: 100%;
            font-size: 14px;
          }
          &:hover {
            background-color: $secondary;
            color: white;
            box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
              0 17px 50px 0 rgba(0, 0, 0, 0.19);
          }
          &:active {
            transform: scale(0.9);
          }
          i {
            margin-right: 0.6rem;
          }
        }
      }
    }
  }
}
