section.contact {
  @include sectionContainer;
  h2 {
    @include titleSection;
    @include tablet {
      font-size: 12px;
    }
    @include mobile {
      font-size: 10px;
    }
  }
  p {
    @include paragraphSection;
    @include tablet {
      font-size: 25px;
    }
    @include mobile {
      font-size: 20px;
    }
  }
  .contact__container {
    display: flex;
    flex-wrap: wrap;
    .contact__containerInfo {
      display: flex;
      align-items: stretch;
      flex: 0 0 41.666667%;
      max-width: 41.666667%;
      .contact__info {
        padding: 30px;
        background: #fff;
        width: 100%;
        box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
        div {
          i {
            font-size: 20px;
            color: $secondary;
            background: $text-color;
            border: 1px solid $secondary;
            float: left;
            width: 44px;
            height: 44px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50px;
            transition: all 0.3s ease-in-out;
            &:hover {
              color: $text-color;
              background: $secondary;
              border: 2px solid $secondary;
            }
          }
          h4 {
            padding: 0 0 0 60px;
            font-size: 22px;
            font-weight: 600;
            color: #050d18;
            margin-bottom: 5px;
          }
          a {
            text-decoration: none;
          }
          p {
            padding: 0 0 10px 60px;
            margin-bottom: 20px;
            font-size: 14px;
            color: $primary;
            font-weight: normal;
            text-transform: none;
            margin: 0;
          }
          iframe {
            border: 0;
            width: 100%;
            height: 290px;
          }
        }
      }
    }
    .contact__form {
      display: flex;
      flex: 0 0 58.333333%;
      max-width: 58.333333%;
      padding-right: 15px;
      padding-left: 15px;
      width: 100%;
      form {
        width: 100%;
        padding: 30px;
        background: #fff;
        box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
        .form-row {
          display: flex;
          flex-wrap: wrap;
          margin-right: -5px;
          margin-left: -5px;
        }
        .form-group {
          padding-bottom: 8px;
          padding-right: 5px;
          padding-left: 5px;
          margin-bottom: 1rem;
          flex: 0 0 50%;
        }
        label {
          display: inline-block;
          margin-bottom: 0.5rem;
        }
        input {
          height: 44px;
          border-radius: 0;
          box-shadow: none;
          font-size: 14px;
          display: block;
          width: 100%;
          height: calc(1.5em + 0.75rem + 2px);
          padding: 0.375rem 0.75rem;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5;
          color: #495057;
          background-color: #fff;
          background-clip: padding-box;
          border: 1px solid #ced4da;
          transition: border-color 0.15s ease-in-out,
            box-shadow 0.15s ease-in-out;
        }
        textarea {
          padding: 10px 12px;
          border-radius: 0;
          box-shadow: none;
          font-size: 14px;
          height: 220px;
          display: block;
          width: 100%;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5;
          color: #495057;
          background-color: #fff;
          background-clip: padding-box;
          border: 1px solid #ced4da;
          transition: border-color 0.15s ease-in-out,
            box-shadow 0.15s ease-in-out;
        }
        .text-center {
          text-align: center;
          button {
            @include button;
            @include textBold(bold, uppercase);
            background-color: transparent;
            color: $secondary;
            border: 2px solid $secondary;
            border-radius: 7px;
            font-size: 16px;
            @include tablet {
              width: 100%;
              font-size: 16px;
            }
            @include mobile {
              width: 100%;
              font-size: 14px;
            }
            &:hover {
              background-color: $secondary;
              border: 2px solid $secondary;
              color: $text-color;
            }
            &:active {
              transform: scale(0.9);
            }
            i {
              margin-left: 0.6rem;
            }
          }
        }
      }
    }
  }
}
