footer {
  text-align: center;
  color: #fff;
  padding: 25px 0;
  background: $primary;
  div {
    .footer__author {
      color: $secondary;
    }
    .footer__github {
      margin: 0.4rem;
      a {
        color: $secondary;
        i {
          font-size: 1.4rem;
        }
      }
    }
  }
}
