*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-color: $backgroundBodyColor;
}

img {
  max-width: 100%;
}

@mixin button {
  border: none;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

@mixin container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@mixin sectionContainer {
  @include container;
  padding: 30px;
  max-width: 1140px;
  color: $primary;
}

@mixin titleSection {
  @include textBold(600, uppercase);
  font-size: 14px;
  padding: 0;
  line-height: 1px;
  margin: 0 0 20px 0;
  letter-spacing: 1px;
  color: $textColorSecondary;
  &::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: $secondary;
    margin: 4px 10px;
  }
}

@mixin paragraphSection {
  @include textBold(800, uppercase);
  margin: -15px 0 15px 0;
  font-size: 30px;
}

@mixin flexProp($flex, $align, $justify, $direction) {
  display: $flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

@mixin textBold($font-weight, $text-trasform) {
  font-weight: $font-weight;
  text-transform: $text-trasform;
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}
