/* --- Navigation Bar ---*/
.header__navbar {
  @include flexProp(flex, center, space-between, row);
  background: $primary;
  color: $text-color;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  position: relative;

  .header__responsive {
    @include flexProp(none, center, center, column);
    padding: 0.5em 1em;

    @include tablet {
      display: flex;
      cursor: pointer;
    }

    span {
      display: block;
      height: 2px;
      width: 20px;
      margin: 2px;
      background: $text-color;
      border-radius: 10px;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    transition: ease 0.7s all;

    li {
      display: inline-block;
      font-size: 15px;

      a {
        display: inline-block;
        color: $text-color;
        text-decoration: none;
        padding: 5px 15px;
        @include textBold(700, uppercase);

        &:hover {
          background: $secondary;
          border-radius: 13px;
        }
      }
    }

    @include tablet {
      opacity: 0;
      max-height: 0px;
      overflow: hidden;
      visibility: none;
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;
      @include flexProp(flex, flex-start, flex-start, column);
      background-color: $primary;
      margin-left: -100%;

      &.active {
        opacity: 1;
        max-height: 500px;
        right: 0;
        margin-left: 0%;
        background-color: $backgroundColor;

        li {
          display: block;
          padding: 0.3rem;
          font-weight: bold;
          font-size: 15px;

          a {
            display: block;
          }
        }
      }
    }

    @include mobile {
      &.active {
        li {
          display: block;
          padding: 0.3rem;
          font-weight: bold;
          font-size: 14px;
        }
      }
    }
  }

  .header__container {
    @include flexProp(flex, center, center, row);

    .header__profile {
      vertical-align: middle;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      border: 4px solid $backgroundColor;
      margin: 0.5rem;

      @include tablet {
        width: 70px;
      }
      @include mobile {
        width: 60px;
      }
    }

    .header__title {
      font-size: 22px;
      @include textBold(bold, uppercase);
      font-family: "Permanent Marker", cursive;
      @include tablet {
        font-size: 20px;
      }
      @include mobile {
        font-size: 18px;
      }
    }
  }
}

/* --- Hero Section ---*/
.header__hero {
  @include flexProp(flex, center, center, column);
  @include textBold(bold, uppercase);
  height: 50vh;
  color: $text-color;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: top center;
  @include tablet {
    height: 55vh;
  }
  @include mobile {
    height: 60vh;
  }
  .header__containerText {
    text-align: center;
    .header__subtitle {
      margin: 0;
      font-family: "Permanent Marker", cursive;
      font-size: 40px;
      @include tablet {
        font-size: 35px;
      }
      @include mobile {
        font-size: 30px;
      }
    }
    .header__paragraph {
      text-transform: capitalize;
      font-size: 25px;
      @include tablet {
        font-size: 20px;
      }
      @include mobile {
        font-size: 17px;
      }
    }
    .header__button {
      @include button;
      @include textBold(bold, uppercase);
      background-color: transparent;
      color: $text-color;
      border: 2px solid $secondary;
      border-radius: 7px;
      font-size: 16px;
      @include tablet {
        font-size: 14px;
      }
      @include mobile {
        font-size: 12px;
      }
      &:hover {
        background-color: $secondary;
        color: white;
      }
      &:active {
        transform: scale(0.7);
      }
    }
    div {
      display: flex;
      justify-content: center;
      div {
        margin: 1.2rem;
        a {
          text-decoration: none;
          color: $text-color;
        }
        i {
          font-size: 30px;
          opacity: 0.5;
          &:hover {
            transition-duration: 0.4s;
            cursor: pointer;
            opacity: 1;
            transform: rotateY(360deg);
          }
          &:active {
            transform: scale(0.7);
          }
        }
      }
    }
  }
}
